.first {
    background-color: rgb(252, 223, 252);
}

h1 {
	font-family: 'Berkshire Swash', cursive;
}

h3 {
    padding-top: 4%;
    text-align: center;
}

.jumbotron {
	text-align: center;
	padding: 0px;
	padding-bottom: 10px;
	margin: 0;
}